<form class="hide-form" action="/update/:id" method="post"> 
    <input type="hidden" name="_method" value="<%- 'put' %>">
    <input name="title" type="text" value="<%= book.title %>"/>
    <input name="author" type="text" value="<%= book.author %>"/>
    <input name="isbn" type="text" value="<%= book.isbn %>"/>
    <input name="image" type="text" value="<%= book.image %>"/>
    <input name="description" type="text" value="<%= book.description %>"/>
    <select id="select-bookshelf">
      <% bookshelves.forEach(shelf => { %>
        <option value="<%= shelf.bookshelf %>" <%= shelf.bookshelf === book.bookshelf ? 'selected' : '' %> >
          <%= shelf.bookshelf %>
        </option>
      <% }) %>
    </select>
    <input type="hidden" name="id" value="<%= book.id %>"/>
    <div id="submit-form"><button type="submit">Submit Updated Details</button></div>
  </form>