<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
</head>
<body>
  <%- include('../../layout/header') %>
  <h1>Search Results</h1>
  <ul class="search-results">
    <%  searchResults.forEach(book => { %>
    <div class="books" data-book-id="<%= book.isbn %>">
      <img src="<%= book.image %>" alt="">
      <li class="title"><%= book.title %></li>
      <li class="author"><%= book.author %></li>
      <li class="description"><%= book.description %></li>
      <div class="select-button" type="submit">Select This Book</div>
      <%- include('form', {book: book}) %>
    </div>
    <% })%>
  </ul>

  <%- include('../../layout/footer') %>
</body>

</html>