<!DOCTYPE html>
<html>
    <head>
        <%- include('../../layout/head') %>
        <link rel="stylesheet" href="/public/styles/base.css">
    </head>
    <body>
        <%- include('../../layout/header') %>
        <main>
            <h3>Results</h3>
            <ul>
                <% results.forEach(book => { %>
                    <li data-book-id="<% book.isbn %>">
                        <%- include('../books/detail', {book: book}) %>
                        <button>Select Book</button>
                        <form class="hide-me" action="/views/pages/books/" method="post">
                        <input type="text" name="title" value="<%=book.title%>" required>
                        <input type="text" name="author" value="<%=book.author %>" required>
                        <input type="text" name="isbn" value="<%= book.isbn %>" >
                        <input type="text" name="image" value="<%= book.image %>">
                        <textarea name="Description" value="<%=book.description%>" cols="30" rows="5"><%= book.description%></textarea>
                        <p>Enter a bookshelf name</p>
                        <input type="text" name="bookshelf" required>
                        <button id="show-me" type="submit">add</button>
                    </form>

                    </li>
                <%})%>
            </ul>
        </main>
    </body>
</html>