<!DOCTYPE html>
<html>
        <head>
            <%- include('../layout/head') %>
        </head>
    <body>
       <%- include('../layout/header') %>
       <main>
           <h4>Saved Books</h4>
           <p><%= books.length %> books in the collection</p>
           <ul>
               <% books.forEach(book => { %>
                <li class="book-items" data-book-id="<%= book.id %>">
                    <%- include('books/detail', {book:book}) %>
                    <p class="detail-button"><a href="/books/<%=book.id %>"></a> </p>
                </li>
               <%})%>
           </ul>
       </main>
       <%- include('../layout/footer') %>
    </body>
</html>